
/* стилі, що наслідуються*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--slate-color);
    background-color: var(--white-color);
    line-height: 1.5; /*24px*/ 
    letter-spacing: 0.02em; /*0.32px*/
}

/* скидаємо дефолтні стилі браузера*/
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
} 

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* створюємо клас контейнер*/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;    
}

/*сss-змінні*/
:root {
    --first-level-title-color: #fff;
    --secondary-third-level-title-color: #2E2F42;
    --slate-color: #434455;
    --navyblue-color: #2E2F42;
    --iris-color: #4D5AE5;
    --white-color:#FFFFFF;
    --ocean-color:#404BBF;
    --cloud-color:#F4F4FD;

}
/*стилізація*/
/*заголовки*/
.title-first-level {
    font-size: 56px;
    line-height: 1.07;  /*60px*/
    color: var(--first-level-title-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    letter-spacing: 0.02em; /*0.32px*/  /*it was mistarke*/

}

.title-secondary-level {
    font-size: 36px;
    line-height: 1.11; /* 111.111%   40px*/
    color: var(--secondary-third-level-title-color);
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em; /*0.32px*/  /*it was mistarke*/
    margin-bottom: 72px;
}

.title-third-level {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120%  24px*/
    color: var(--secondary-third-level-title-color);
    letter-spacing: 0.02em; /*0.32px*/ /* it was mistake*/
    margin-bottom: 8px;
}

/* nav*/
       /* logo*/
.logotype-text-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667%   21px*//*mistake 1.16 was*/ 
    letter-spacing: 0.03em;  /* 0.54px*/
    text-transform: uppercase;
    color: var(--iris-color);
}

.logotype-text-studio {
    color: #2e2f42;
}
         /*menu-посилання*/ 
.menu-list .menu-item-link {
    font-weight: 500;
    color: var(--navyblue-color);
}

.menu-list .menu-item-link:hover,
.menu-list .menu-item-link:focus {
    color: var(--ocean-color);    /* it was mistake*/
}

         /*контакти*/
.page-contacts {
    font-style: normal; 
}
    
.page-contacts .contacts-item-link {
    color: var(--slate-color);
}

.page-contacts .contacts-item-link:hover,
.page-contacts .contacts-item-link:focus {
    color: var(--ocean-color);
}
/* section hero*/
.segment-hero {
    background-color: var(--navyblue-color);
    padding-top: 188px;
    padding-bottom: 188px;

}

/* section our team */
.segment-our-team {
    background-color: var(--cloud-color);
}

.our-team-item {
    background-color: var(--white-color);
}

/*button*/
.btn-hero {
    font-weight: 500;
    letter-spacing: 0.04em; /* 0.64px*/
    color: var(--white-color);
    background-color: var(--iris-color);
    border: none;
    line-height: 1.5; /*24px*/ /*it was mistake*/
    padding: 16px 32px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 494px;
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--ocean-color);
}

/*page footer*/
.page-footer {
    background-color: var(--navyblue-color);
}

.footer-text {
    color: var(--cloud-color);
}

.logotype-text-studio-footer {
    color: var(--cloud-color);
}

/* розташування блоків*/

.section {
    padding: 120px 0;
}
.page-header-container,
.main-navigation-container,
.menu-list-container,
.contacts-list-container {
    display: flex;
}

.page-header-container {
    padding: 24px 0;
    justify-content: space-between;
}

.main-navigation-container {
    max-width: 452px;
    width: 100%;
    justify-content: space-between;
}

.menu-list-container {
    gap: 40px;
}

.page-contacts {
    max-width: 676px;
    width: 100%;
}

.contacts-list-container {
    max-width: 344px;
    justify-content: space-between;
    gap: 40px;
    margin-left: 332px;
}

.title-first-level {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.advantages-list-container {
    display: flex;
    gap: 24px;
}

.our-team-list-container {
    display: flex;
    gap: 24px;
}

.our-team-item-card {
    width: calc((100% - 72px) / 4);
}

.our-portfolio-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.our-portfolio-item-card {
    width: calc((100% - 48px) / 3);
}

.our-team-list .title {
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list .text {
    text-align: center;
}

